@charset "UTF-8";
/* Reset CSS */
/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

html, body {
  min-height: 100vh;
  background-color: var(--white);
}

body {
  font-size: 16px;
  line-height: 17px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
  width: 0;
  /* Chrome, Safari, Edge ve Opera için */
}
body::-webkit-scrollbar-track {
  background-color: transparent;
  width: 0;
  /* Chrome, Safari, Edge ve Opera için */
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Forms */
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Reset Image */
img {
  max-width: 100%;
  height: auto;
  overflow: clip;
  overflow-clip-margin: content-box;
}

/* Reset Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Misc */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Responsive Embeds */
embed,
iframe,
object,
video {
  max-width: 100%;
}

/* Clear Floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

:root {
  --primary: #121212;
  --secondary: #d6efff;
  --tertiary: #d15a2b;
  --fourth: #3b82f6;
  --gray: #747272;
  --gray-light: #f5f5f5;
  --white: #ffffff;
  --black: #000000;
}

/*burada tanımlanan renkler class olarak kullanabılırız*/
.bg-primary {
  background-color: #121212 !important;
}

.bg-secondary {
  background-color: #d6efff !important;
}

.bg-tertiary {
  background-color: #b8dfff !important;
}

.bg-fourth {
  background-color: #3b82f6 !important;
}

.bg-gray {
  background-color: #747272 !important;
}

.bg-gray-light {
  background-color: #f5f5f5 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-black {
  background-color: #000000 !important;
}

.button-primary {
  background-color: #121212 !important;
  border: 1px solid #121212 !important;
  color: #f5f5f5 !important;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .button-primary:hover {
    background-color: #f5f5f5 !important;
    color: #121212 !important;
  }
}

.button-secondary {
  background-color: #d6efff !important;
  border: 1px solid #d6efff !important;
  color: #f5f5f5 !important;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .button-secondary:hover {
    background-color: #f5f5f5 !important;
    color: #d6efff !important;
  }
}

.button-tertiary {
  background-color: #b8dfff !important;
  border: 1px solid #b8dfff !important;
  color: #f5f5f5 !important;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .button-tertiary:hover {
    background-color: #f5f5f5 !important;
    color: #b8dfff !important;
  }
}

.button-fourth {
  background-color: #3b82f6 !important;
  border: 1px solid #3b82f6 !important;
  color: #f5f5f5 !important;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .button-fourth:hover {
    background-color: #f5f5f5 !important;
    color: #3b82f6 !important;
  }
}

.button-gray {
  background-color: #747272 !important;
  border: 1px solid #747272 !important;
  color: #f5f5f5 !important;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .button-gray:hover {
    background-color: #f5f5f5 !important;
    color: #747272 !important;
  }
}

.button-gray-light {
  background-color: #f5f5f5 !important;
  border: 1px solid #f5f5f5 !important;
  color: #f5f5f5 !important;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .button-gray-light:hover {
    background-color: #f5f5f5 !important;
    color: #f5f5f5 !important;
  }
}

.button-white {
  background-color: #ffffff !important;
  border: 1px solid #ffffff !important;
  color: #f5f5f5 !important;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .button-white:hover {
    background-color: #f5f5f5 !important;
    color: #ffffff !important;
  }
}

.button-black {
  background-color: #000000 !important;
  border: 1px solid #000000 !important;
  color: #f5f5f5 !important;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .button-black:hover {
    background-color: #f5f5f5 !important;
    color: #000000 !important;
  }
}

/*line clamp start*/
.line-clamp_1 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp_2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp_3 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp_4 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.line-clamp_5 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.line-clamp_6 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.line-clamp_7 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

.line-clamp_8 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}

.line-clamp_9 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.line-clamp_10 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

.line-clamp_11 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 11;
}

.line-clamp_12 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
}

/*line clamp end*/
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 999;
}
.preloader .customIcon {
  font-size: 80px;
  position: relative;
  color: var(--secondary);
  color: #424141;
}
.preloader .customIcon:after {
  content: "\e907";
  font-family: "customFont" !important;
  font-size: 80px;
  color: var(--white);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  animation: animloader 10s ease-in infinite;
}
.preloader .loaderText {
  font-size: 24px;
  color: var(--gray-light);
}

@keyframes animloader {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@font-face {
  font-family: "customFont";
  src: url("../font/customFont.eot?adtuu1");
  src: url("../font/customFont.eot?adtuu1#iefix") format("embedded-opentype"), url("../font/customFont.ttf?adtuu1") format("truetype"), url("../font/customFont.woff?adtuu1") format("woff"), url("../font/customFont.svg?adtuu1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "customFont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\e90c";
}

.icon-email:before {
  content: "\e90b";
}

.icon-bootstrap:before {
  content: "\e900";
}

.icon-css:before {
  content: "\e901";
}

.icon-eye-outline:before {
  content: "\e902";
}

.icon-favorite-fill:before {
  content: "\e903";
}

.icon-favorite-outline:before {
  content: "\e904";
}

.icon-html:before {
  content: "\e905";
}

.icon-linkedin:before {
  content: "\e906";
}

.icon-logo-dark:before {
  content: "\e907";
}

.icon-message:before {
  content: "\e908";
}

.icon-sass:before {
  content: "\e909";
}

.icon-share:before {
  content: "\e90a";
}

.btn {
  font-weight: 600;
}

/*custom checkbox*/
.form-check {
  position: relative;
  padding: 0;
}
.form-check .form-check-input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.form-check .form-check-label {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 14px;
  gap: 5px;
  cursor: pointer;
}
.form-check .form-check-label .customIcon {
  color: var(--primary);
  font-size: 24px;
  margin-right: 5px;
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .form-check .form-check-label:hover .customIcon {
    color: var(--tertiary);
  }
}
.form-check.favorite .form-check-input:checked ~ .form-check-label .customIcon:before {
  content: "\e903";
  font-family: "customFont";
  color: var(--tertiary);
}

/*Form elemanları*/
header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
header .navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 991.98px) {
  header .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
header .navbar .navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  gap: 5px;
  color: var(--gray);
  transition: all 0.6s linear;
}
@media screen and (max-width: 991.98px) {
  header .navbar .navbar-brand {
    font-size: 14px;
  }
}
header .navbar .navbar-brand .icon-logo-dark {
  font-size: 40px;
  color: var(--black);
  transition: all 0.3s linear;
}
@media screen and (max-width: 991.98px) {
  header .navbar .navbar-brand .icon-logo-dark {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  header .navbar .navbar-brand:hover {
    transform: rotate3d(0.7, 1, 0.5, 6.309rad);
  }
}
header.fixed {
  position: fixed;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
header.fixed .navbar {
  padding-top: 0;
  padding-bottom: 0;
}
header.fixed .navbar .navbar-brand {
  transform: scale(0.6);
}

.navbar-toggler:focus {
  outline: 0;
  box-shadow: none;
}

.navbar-nav {
  --bs-nav-link-hover-color: var(--tertiary);
}
@media screen and (max-width: 991.98px) {
  .navbar-nav {
    background-color: var(--white);
    border-radius: 10px;
  }
  .navbar-nav .nav-item:not(:first-child) .nav-link {
    border-top: 1px solid var(--gray-light);
    padding: 15px 0;
    margin-bottom: 0;
  }
}
.navbar-nav .nav-link {
  transition: all 0.3s linear;
}

footer {
  color: var(--white);
}

.icon-linkedin {
  font-size: 24px;
  transition: all 0.3s linear;
  color: var(--white);
}
@media screen and (min-width: 992px) {
  .icon-linkedin:hover {
    color: var(--tertiary);
  }
}

.homeSection {
  height: 400px;
  position: relative;
  background-color: var(--tertiary);
}
@media screen and (max-width: 768px) {
  .homeSection {
    height: 550px;
  }
}
.homeSection .carousel-inner {
  height: 100%;
}
.homeSection .carousel {
  height: 100%;
}
.homeSection .carousel-item {
  overflow: hidden;
  height: 100%;
}
.homeSection .carousel-item img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
}

.bannerMenuWrapper {
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
}
.bannerMenuWrapper .desc {
  max-width: calc(100% - 300px);
}
@media screen and (max-width: 991.98px) {
  .bannerMenuWrapper .desc {
    max-width: calc(100% - 230px);
  }
}
@media screen and (max-width: 768px) {
  .bannerMenuWrapper .desc {
    max-width: initial;
    padding-top: 30px;
    text-align: center;
  }
}
.bannerMenuWrapper .desc h1 {
  font-size: 30px;
  color: var(--white);
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 991.98px) {
  .bannerMenuWrapper .desc h1 {
    font-size: 24px;
    line-height: 32px;
  }
}
.bannerMenuWrapper .desc p {
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
}

.categoryMenu {
  display: flex;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .categoryMenu {
    width: auto;
  }
}
.categoryMenu .list-group {
  gap: 20px;
}
.categoryMenu .list-group .list-group-item {
  display: inline-flex;
  align-items: center;
  font-size: 17px;
  color: var(--primary);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  gap: 10px;
}
@media screen and (max-width: 991.98px) {
  .categoryMenu .list-group .list-group-item {
    font-size: 14px;
    gap: 5px;
  }
}
@media screen and (min-width: 992px) {
  .categoryMenu .list-group .list-group-item {
    height: 60px;
    width: 60px;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s linear;
    border-radius: 100%;
  }
}
.categoryMenu .list-group .list-group-item .customIcon {
  font-size: 40px;
  color: var(--tertiary);
  min-width: 60px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 991.98px) {
  .categoryMenu .list-group .list-group-item .customIcon {
    font-size: 30px;
    min-width: 45px;
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 992px) {
  .categoryMenu .list-group .list-group-item span:not(.customIcon) {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
    transform: scale(0);
  }
}
@media screen and (min-width: 992px) {
  .categoryMenu .list-group .list-group-item:hover {
    width: 200px;
    overflow: visible;
    border-radius: 10px;
  }
  .categoryMenu .list-group .list-group-item:hover span:not(.customIcon) {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}

.blogCards .card {
  padding-top: 40px;
  border-radius: 6px;
  border-color: var(--gray-light);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 992px) {
  .blogCards .card a:hover .card-title {
    color: var(--tertiary);
  }
  .blogCards .card a:hover .card-text {
    color: var(--primary);
  }
}
.blogCards .card .date {
  font-size: 12px;
  line-height: 17px;
  color: var(--gray);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.blogCards .card .date .icon-date {
  font-size: 16px;
  color: var(--tertiary);
  position: relative;
  transform: translateY(-2px);
}
.blogCards .card .card-title {
  font-weight: 700;
  color: var(--primary);
  font-size: 18px;
  line-height: 25px;
  transition: all 0.3s linear;
  height: 50px;
  margin-bottom: 10px;
}
.blogCards .card .card-text {
  font-size: 14px;
  line-height: 22px;
  color: var(--gray);
  transition: all 0.3s linear;
}
.blogCards .card .card-img-top {
  height: 150px;
  width: auto;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}
.blogCards .card .card-body {
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px solid var(--gray-light);
  max-width: calc(100% - 40px);
  margin: 30px auto 0;
}
.blogCards .card .card-footer {
  border-top: none;
  background-color: var(--gray-light);
}
.blogCards .card .card-footer .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.blogCards .card .card-footer .buttons .item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: var(--gray);
  transition: all 0.3s linear;
}
.blogCards .card .card-footer .buttons .customIcon {
  font-size: 24px;
  margin-right: 5px;
  color: var(--primary);
  transition: all 0.3s linear;
}
@media screen and (min-width: 992px) {
  .blogCards .card .card-footer a.item:hover {
    color: var(--tertiary);
  }
  .blogCards .card .card-footer a.item:hover .customIcon {
    color: var(--tertiary);
  }
}

/*Carousel standart style start*/
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 8rem;
  height: 8rem;
  transition: all 0.3s linear;
}

@media screen and (min-width: 992px) {
  .carousel-control-prev-icon:hover {
    transform: translateX(-16px);
  }
}

@media screen and (min-width: 992px) {
  .carousel-control-next-icon:hover {
    transform: translateX(16px);
  }
}

.carousel-indicators {
  bottom: 50px;
}
.carousel-indicators [data-bs-target] {
  transition: all 0.3s linear;
  border-radius: 6px;
  height: 10px;
  overflow: hidden;
  box-sizing: border-box;
  width: 24px;
  border: none;
}
@media screen and (min-width: 992px) {
  .carousel-indicators [data-bs-target]:hover {
    width: 45px;
    opacity: 1;
  }
}
.carousel-indicators .active {
  width: 45px;
}

/*Carousel standart style end*/
main {
  padding-top: 109.5px;
}
@media screen and (max-width: 991.98px) {
  main {
    padding-top: 73.5px;
  }
}

section:not(:first-child) {
  margin-block: 60px;
}

.sectionHead {
  padding-bottom: 20px;
}

.pageContentWrapper {
  padding-top: 50px;
  padding-bottom: 100px;
}
.pageContentWrapper .pageHead {
  margin-top: 30px;
}

h1 {
  font-size: 30px;
  color: var(--primary);
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 991.98px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
}

.paragraph {
  font-size: 14px;
  line-height: 26px;
  color: var(--primary);
  font-weight: 400;
}
.paragraph h2 {
  font-weight: 600;
  color: var(--tertiary);
  margin-top: 30px;
  margin-bottom: 10px;
}
.paragraph ul,
.paragraph ol {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.paragraph ul li::marker,
.paragraph ol li::marker {
  color: var(--tertiary);
  font-weight: 700;
}
.paragraph ol {
  list-style-type: decimal;
}
.paragraph pre {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--gray-light);
  border-radius: 10px;
  padding: 50px;
}
.paragraph pre code {
  white-space: pre-line;
}

.shareWrapper .title {
  font-size: 14px;
  color: var(--gray);
  line-height: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--tertiary);
  margin-bottom: 10px;
}
.shareWrapper .title .icon-share {
  font-size: 20px;
}
.shareWrapper .shareButtons {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 30px;
}
.shareWrapper .shareButtons .shareButton {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: var(--gray-light);
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4);
  padding: 0;
}
.shareWrapper .shareButtons .customIcon {
  color: var(--primary);
  font-size: 24px;
}