header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (max-width:991.98px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-brand {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;
      gap: 5px;
      color: var(--gray);
      transition: all .6s linear;
      @media screen and (max-width:991.98px) {
        font-size: 14px;
      }
      .icon-logo-dark {
        font-size: 40px;
        color: var(--black);
        transition: all .3s linear;
        @media screen and (max-width:991.98px) {
          font-size: 24px;
        }
      }
      @media screen and (min-width: 992px) {
        &:hover {
          transform: rotate3d(0.7, 1, 0.5, 6.309rad);

          .icon-logo-dark {
          }
        }
      }
    }
  }
  &.fixed{
    position: fixed;
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);

    .navbar{
      padding-top: 0;
      padding-bottom: 0;
      .navbar-brand{
        transform: scale(0.6);
      }
    }
  }
}

//Navbar
.navbar-toggler{
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}
.navbar-nav {
  --bs-nav-link-hover-color: var(--tertiary);
  @media screen and (max-width:991.98px) {
    background-color: var(--white);
    border-radius: 10px;

    .nav-item{
      &:not(:first-child){
        .nav-link{
          border-top: 1px solid var(--gray-light);
          padding: 15px 0;
          margin-bottom: 0;
        }
      }
    }
    
  }
  .nav-link{
    transition: all .3s linear;
  }
}
